:root {
  /* Font Family */
  /* --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace; */

  /* Font Size */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */

  /* Font Weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Line Height */
  --leading-tight: 1.25;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
}


/* Semantic Tokens */
:root {
  /* Font Family */
  /* --font-body: var(--font-sans);
  --font-code: var(--font-mono); */

  /* Text Sizes */
  --text-body: var(--text-base); /* 16px */
  --text-body-small: var(--text-sm); /* 14px */

  --text-heading-sm: var(--text-lg); /* 18px */
  --text-heading-md: var(--text-xl); /* 20px */
  --text-heading-lg: var(--text-2xl); /* 24px */
  --text-heading-xl: var(--text-3xl); /* 30px */

  /* Text Weights */
  --weight-body: var(--font-weight-normal);
  --weight-medium: var(--font-weight-medium);
  --weight-heading: var(--font-weight-semibold);
  --weight-bold: var(--font-weight-bold);

  /* Line Heights */
  --line-height-body: var(--leading-normal);
  --line-height-heading: var(--leading-tight);
}


/* Tailwind Theme */
@theme {
  /* Font Family */
  /* --font-family-sans: var(--font-sans);
  --font-family-mono: var(--font-mono); */

  /* Text Sizes */
  --text-body: var(--text-body); /* 16px */
  --text-body-small: var(--text-body-small); /* 14px */

  --text-heading-sm: var(--text-heading-sm); /* 18px */
  --text-heading-md: var(--text-heading-md); /* 20px */
  --text-heading-lg: var(--text-heading-lg); /* 24px */
  --text-heading-xl: var(--text-heading-xl); /* 30px */

  /* Font Weights */
  --font-weight-body: var(--weight-body);
  --font-weight-medium: var(--weight-medium);
  --font-weight-heading: var(--weight-heading);
  --font-weight-bold: var(--weight-bold);

  /* Line Heights */
  --leading-body: var(--line-height-body);
  --leading-heading: var(--line-height-heading);
}